<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../bootstrap.min.css">
    <title>Demo 04 - DevWeek</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <h1>{{ titulo }}</h1>
            <div class="row">
                <div class="card col-4" v-for="p in palestras">
                    <div class="card-body">
                        <h4 class="card-title">{{ p.titulo }}</h4>
                        <h5 class="card-subtitle text-muted">{{ p. palestrante }}</h5>
                        <a href="#" class="card-link" v-if="p.exibida === true">Assistir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../vue.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                titulo : 'Canal .NET DevWeek',
                palestras: [
                    {
                        titulo: 'Progressive Web Aps com Angular  Ionic',
                        palestrante : 'André Baltieri',
                        exibida : false
                    },
                    {
                        titulo: 'Novidades do VSTS',
                        palestrante : 'André Dias',
                        exibida : false
                    },
                    {
                        titulo: 'Active Learning em Chatbots com Bot Framework e LUIS',
                        palestrante : 'André Secco',
                        exibida : true
                    },
                    {
                        titulo: 'Aplicativos inteligentes com Xamarin e Microsoft Cognitive Services',
                        palestrante : 'Angelo Belchior',
                        exibida : false
                    },
                    {
                        titulo: 'Você conhece DataOps?',
                        palestrante : 'Dani Monteiro',
                        exibida : false
                    },
                    {
                        titulo: 'Processamento e análise de conteúdo com o Cognitive Services',
                        palestrante : 'Douglas Romão',
                        exibida : true
                    },
                    {
                        titulo: 'Novidades do C# 7, 7.1, 7.2 e 8',
                        palestrante : 'Giovanni Bassi',
                        exibida : true
                    },
                    {
                        titulo: 'Manipulando Grafos com Neo4j e C#',
                        palestrante : 'Jhonathan Souza',
                        exibida : true
                    },
                    {
                        titulo: 'Primeiros passos com o Vue.js',
                        palestrante : 'Joel Rodrigues',
                        exibida : false
                    },
                    {
                        titulo: 'Primeiros passos com MongoDB - da instalação até um replicaset',
                        palestrante : 'Leandro Domingues',
                        exibida : false
                    },
                    {
                        titulo: 'Desenhando arquiteturas serverless no AWS',
                        palestrante : 'Luis Felipe',
                        exibida : true
                    },
                    {
                        titulo: '.NET Core - Continous Integration e Continous Delivery com Jenkins',
                        palestrante : 'Luiz Carlos Faria',
                        exibida : false
                    },
                    {
                        titulo: 'Integrando sua aplicação ASP.NET Core com o Azure AD B2C',
                        palestrante : 'Mateus Rodrigues',
                        exibida : false
                    },
                    {
                        titulo: 'APIs multiplataforma com ASP.NET Core 2.0',
                        palestrante : 'Renato Groffe',
                        exibida : true
                    },
                    {
                        titulo: 'DevOps - Promoção automatizada de pacotes alpha, beta e stable com Git e VSTS',
                        palestrante : 'Ricardo Serradas',
                        exibida : false
                    }
                ]
            }
        })
    </script>
</body>
</html>